.input-user {
  border-radius: 8px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
    transition: transform 0.2s ease, background-color 0.2s ease
}

.input-user:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  
}

.input-password {
  border-radius: 8px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
    transition: transform 0.2s ease, background-color 0.2s ease
}

.input-password:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  
}


.animated-button {
  padding: 10px 20px;
  margin-top: 30px;

  background-color: #38A3A5; /* Azul */
  color: white;
  border: none;
  border-radius: 8;
  font-weight:"bold";
  font-size :20;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease; /* Animación */
}

.animated-button:hover {
  transform: scale(1.2); /* Agrandar */
  background-color: #2c7c7d /* Más claro */
}
 
